[submodule "Simple-Chatty-Bot"]
	path = Simple-Chatty-Bot
	url = https://github.com/luongtracducanh/Simple-Chatty-Bot
[submodule "Zookeeper"]
	path = Zookeeper
	url = https://github.com/luongtracducanh/Zookeeper
[submodule "Simple-Currency-Converter"]
	path = Simple-Currency-Converter
	url = https://github.com/luongtracducanh/Simple-Currency-Converter
[submodule "Carnival-Gift-Shop"]
	path = Carnival-Gift-Shop
	url = https://github.com/luongtracducanh/Carnival-Gift-Shop
